.contact {
  padding: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 20px;
  }
  a {
    padding: 0;
    overflow: auto;
    height: 100%;
  }
}
