.editor {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 5%;
}
.polaroid {
  width: 296px;
  height: 876px;
  display: grid;
  pointer-events: none;
}
.sticker,
.frame {
  grid-area: 1/1;
  position: absolute;
  pointer-events: none;
}
.capturedImage {
  width: 256px;
  height: 173px;
  position: relative;
  padding-left: 20px;
  padding-bottom: 12.5px;
  pointer-events: none;
}

.capturedImages {
  padding-top: 18px;
}

.editBox {
  width: 584px;
  height: 642px;
  background-color: #dac8d9;
  border-radius: 20px;
  border: 2px solid #000;
  overflow-y: auto;
  text-align: center;
}
.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.editBox button {
  width: 450px;
  height: 61px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fefaee;
  margin: 11px;
  display: inline-block;
}
.editBox p {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .editor {
    flex-direction: column;
    align-items: center;
  }
  .editBox {
    width: 90%;
    height: 100%;
  }
  .editBox button {
    width: 300px;
    margin: 10px;
  }
  .rightPanel {
    width: 100%;
    padding: 0px;
    gap: 20px;
  }
  button {
    width: 310px;
    height: 70px;
  }
  button:hover {
    width: 310px;
    height: 70px;
  }
}
