* {
  color: #000;
  font-family: "White Rabbit";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  background-color: #fefaee;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 100px;
  border: 2px solid #000;
  background: #dac8d9;
  width: 478px;
  height: 89px;
}

button:hover {
  border: 3px solid #000;
  width: 483px;
  height: 94px;
}
