*
{
    color: #000;
    font-family: "White Rabbit";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Header
{
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #DAC8D9;
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:111px;
}
.logo
{
    color: #000;
    font-family: "Karmatic Arcade";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a
{
    width: 250px;
    flex-shrink: 0;
    text-align:center;

}
a:hover
{
    background-color: #000;
}