*
{
    color: #000;
    font-family: "White Rabbit";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.Header
{
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #DAC8D9;
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:111px;
}
.logo
{
    color: #000;
    font-family: "Karmatic Arcade";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 28px 40px;
    white-space: nowrap;
    user-select: none;
}


a
{
    height:100%;
    text-align:center;
    padding: 30px 20px;
    white-space: nowrap;
}
.nav a:hover
{
    text-decoration: underline;
}
body {
    height: 100%;
    margin: 0;
    background-color: #FEFAEE;  
}

button
{

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100px;
    border: 2px solid #000;
    background: #DAC8D9;
    width: 478px;
    height: 89px;

}
button:hover
{
    border: 3px solid #000;
    width: 483px;
    height: 94px;

}