@font-face {
  font-family: "White Rabbit";
  src: url("./static/fonts/WhiteRabbit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karmatic Arcade";
  src: url("./static/fonts/karmaticArcade.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "White Rabbit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
