@font-face {
  font-family: "WhiteRabbit";
  src: url("./static/fonts/whiteRabbit.ttf") format("truetype");
}
@font-face {
  font-family: "KarmaticArcade";
  src: url("./static/fonts/karmaticArcade.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "WhiteRabbit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
