.webcamView {
  width: 100%;
  aspect-ratio: 257 / 175;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

.webCameraAndTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
